#root {
  max-width: 1280px;
  margin: 0 auto;
  padding: 2rem;
  text-align: center;
}

input{
  width: 250px;
  height: 50px;   
}

.datetime-inputbox-content{
  display: flex;
  flex-direction: row;
  gap: 20px;
  justify-content: space-around;
}